.card {
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-between;
    padding: 6px 6px 6px 22px;

}
.card__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 16px 0 13px 0;
    max-width: 400px;

    
}
.card__duration {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #a0a0a0;
    max-width: 37px;
    margin: 0;

}
.card__like {
    width: 14px;
    height: 12px;
    background: transparent url('../../images/like.svg') center no-repeat;
    background-size: 14px 12px;
    border: none;
    cursor: pointer;
    outline-style: none;
    margin: 30px 0 16px 0;

}
.card__like_active {
    width: 14px;
    height: 12px;
    background: transparent url('../../images/like-active.svg') center no-repeat;
    border: none;
    cursor: pointer;
    outline-style: none;
    margin: 30px 0 16px 0;
}
.card__delete-saved-film {
    width: 14px;
    height: 12px;
    background: transparent url('../../images/button_del_saved-movies.svg') center no-repeat;
    background-size: 14px 12px;
    border: none;
    cursor: pointer;
    outline-style: none;
    margin: 30px 0 16px 0;
}
.card__image {
    height: 122px;
}
@media screen and (max-width:320px) {
    .card {
        flex-direction: column-reverse;
        padding: 0;
        width: 100%;
    }
    .card__discription {
        display: flex;
        flex-direction: row;
        
    }
    .card__list {
        width: 100%;
        position: relative;
    }
    .card__title{
        max-width: 228px;
        margin: 14px 0 8px 0;
    }

    .card__image {
        height: 168px;
        width: 100%;
    }

    .card__like_active {
        margin: 16px 16px 0 0;
    }
    .card__like{
        margin: 16px 16px 0 0;
    }

    .card__delete-saved-filmn {
        margin: 16px 16px 0 0;
    }

}
