@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

body {
  color: black;
  max-width: 1280px;
  margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
*{
    border: 1px solid red;
} */
