.header {
    background-color: #F3C1F8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 70px ;
}
.header__logo-link {
    width: 38px;
    height: 38px;
}
.header__logo {
    object-fit: cover;
    width: 100%;
}
.header__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header__link-signup {
    text-decoration: none;
    color: #000000;
    max-width: 77px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-weight: 500;
    margin: 11px 30px 11px 0;
}



.header__link-signin {
    text-decoration: none;
    color: #FFFFFF;
    background-color: black;
    max-width: 76px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    padding: 8px 20px;
    margin: 3px 0;
}
@media screen and (max-width: 768px){
    .header {
        padding: 18px 30px;
    }
}

@media screen and (max-width:320px) {
    .header {
        padding: 18px 14px;
    }
    .header__link-signup {
        font-size: 10px;
        margin: 11px 14px 11px 0;
        max-width: 64px;
    }
    .header__link-signin {
        max-width: 54px;
        font-size: 10px;
        padding: 5px 12px;
        margin: 6px 0;

    }
}
