.header {
    background-color: #F3C1F8;
    padding: 18px 70px ;
}

.header_type_loggedIn {
    background-color: white;
}
.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* .header__content_type_loggedIn {
    
} */
.header__logo-link {
    width: 38px;
    height: 38px;
}
.header__logo {
    object-fit: cover;
    width: 100%;
}

.header__logo:hover {
    opacity: 0.5;
    transition:  .4s ease-in-out;
}

@media screen and (max-width: 768px){
    .header {
        padding: 18px 30px;
    }
}

@media screen and (max-width:320px) {
    .header {
        padding: 18px 14px;
    }
}
